<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817800606883-rfjfs9b034hjbduqhn9r9ifuj15m2h04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817800606883-rfjfs9b034hjbduqhn9r9ifuj15m2h04</string>
	<key>API_KEY</key>
	<string>AIzaSyCwzqF2Vh71vaCjpPcvYjRtpQKKMlhJkBg</string>
	<key>GCM_SENDER_ID</key>
	<string>817800606883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>loginregister-89d7a</string>
	<key>STORAGE_BUCKET</key>
	<string>loginregister-89d7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817800606883:ios:e19668924453cb2d997b16</string>
</dict>
</plist>